server {
  server_name {{env.NGINX_FQDN}};

  root {{&rootDir}}/build/;

  include {{&rootDir}}/conf/nginx/snippets/serve-favicon.nginx;

  location /assets {
    try_files $uri =404;
  }

  location = / {
    try_files /home.html =404;
  }

  location /api {
    include {{&rootDir}}/conf/nginx/snippets/enable-cors.nginx;
    proxy_pass http://localhost:{{env.NODE_PORT}}/api;
  }
}
